:root {
    --primaryColor : #653737;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    color: var(--primaryColor)
}

.App > input {
    padding: 3px;
    margin: 10px 0px 20px 0px;
    font-size: 2em;
    border: none;
    border-bottom: 1px solid var(--primaryColor)
}

.button-container {
    display: block;
    width: 100%;
    text-align: center;
}
.button-container > button {
    margin: 0px 10px;
    border: none;
    height: 40px;
    width: 120px;
    font-size: .8em;
    border:1px solid var(--primaryColor);
    border-radius: 5px; 
    color: var(--primaryColor);

}

.button-container > button:hover {
    background-color: var(--primaryColor);
    color: white;
    cursor: pointer;
}
.todo-container {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: baseline;
    margin: 0px auto;
    flex-wrap: wrap;
    width: 100%;
}

.todo-item {
    width: 100%;
    display: block;
    word-wrap: break-word;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px; 

}
.todo-item label {
    display: block;
    width: 100%;
    min-height: 30px;
    padding: 10px;
    border-bottom: 1px solid var(--primaryColor);
}
.todo-item > label > input {
    margin: 0px 15px;
}
.todo-item label:hover {
    background-color: var(--primaryColor);
    color: white;
    cursor: pointer;
}


.checkAll {
    margin: 30px 0px 10px 0px;
    width: 100%;
   
}
.hide {
    display: none;
}


.total-items {
    margin-top: 10px;
    width: 100%;
    text-align: right;
}