@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
:root {
    --primaryColor : #653737;
    font-family: 'Source Sans Pro', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    color: var(--primaryColor);
    font-size: 16px;
}

.App > input {
    padding: 3px;
    margin: 10px 0px 20px 0px;
    font-size: 2em;
    border: none;
    border-bottom: 1px solid var(--primaryColor);
}
.App > input:focus {
    outline-color: var(--primaryColor);
}
.button-container {
    display: block;
    width: 100%;
    text-align: center;
}
.button-container > button {
    margin: 0px 10px;
    border: none;
    height: 40px;
    width: 120px;
    font-size: .8em;
    border:1px solid var(--primaryColor);
    border-radius: 5px; 
    color: var(--primaryColor);
    box-shadow: 2px 2px 2px black;

}

.button-container > button:hover {
    background-color: var(--primaryColor);
    color: white;
    cursor: pointer;
    box-shadow: none;
}
.button-container > button:focus {
    outline-color: var(--primaryColor);
}
.todo-container {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: baseline;
    margin: 0px auto;
    flex-wrap: wrap;
    width: 100%;
    font-size: 1.5em;
}

.todo-item {
    width: 100%;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 1px solid var(--primaryColor);
}
.todo-item:hover, .todo-item label:hover {
    cursor: pointer;
}
.todo-item label:hover {
    /* color: rgb(3, 81, 141); */
    text-shadow: 0px 0px 10px var(--primaryColor);
}
.todo-item:hover {
    border-radius: 5px; 
    
}
.todo-item label {
    display: block;
    width: 100%;
    padding: 10px;
 
}

.completed {
    text-decoration: line-through;
    text-decoration-color: var(--primaryColor);
}
.customCheckbox, .showWOBorder {
    /* background-color: white; */
    color: var(--primaryColor);
    display: inline-block;
    border-radius: 5px; 
    padding: 0px 5px;
    margin: 0px 10px 0px 10px;
    width: 18px;
    height: 20px;
    user-select: none;
    font-size: 16px;
}

.customCheckbox:hover {
    cursor: pointer;
}

.customCheckbox p, .showWOBorder p  {
    margin: 0;
}

.custom-check-box-container {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.5em;
}
.custom-check-box-container > p {
   font-size: .5em;
}

.customCheckbox {
    border: 1px solid var(--primaryColor);
}
.showWOBorder {  
    border: 1px solid white;
}







.checkAll {
    margin: 30px 0px 10px 0px;
    width: 100%;
   
}
.hide {
    visibility: hidden;
}


.total-items {
    margin-top: 10px;
    width: 100%;
    text-align: right;
}


